@import url('https://fonts.googleapis.com/css?family=Poppins:700');
  
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* blob animation */
.container {
    overflow: hidden;
    background: 	#ffeead;
    text-align: right;
    height: 400vh;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(4, auto 1fr)
}

/* .firstRow {
  border: 6px green solid;
  grid-column: 1/4;
  grid-row: 1/2;
}

.lastCol {
  border: 5px blue solid;
  grid-column: 3/4;
  grid-row: 1/2
} */

/* all sections */
.section {
  margin-right: -2.5%;
  /* align-self: center; */
  display: flex;
  text-align: left;
  /* justify-content: space-between; */
}

.sectionHeading {
  font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px #ffffff;
    color: #ff6f69;
    background-color: #96ceb4;
}

.sectionSubHeading {
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px #ffffff;
  color: 	#ffcc5c;
  font-size: 1em;
  margin: 0px;
}

.sectionSubContainer:hover > .sectionSubHeading {
  /* opacity: 1; */
  color: #ff6f69
}

.sectionPara {
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
}

/* first section */
.firstSection {
  /* border: 6px red solid; */
  grid-column: 1/3;
  grid-row: 3/4;
}

.sectionIcon {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100px;
  justify-self: end;
  margin-right: -3.5%;
  width: 50px;
  z-index: 1;
  /* align-self: center; */
}

/* second section */
.secondSection {
  /* border: 6px red solid; */
  grid-column: 1/3;
  grid-row: 5/6;
}

/* third section */
.thirdSection {
  /* border: 6px red solid; */
  grid-column: 1/3;
  grid-row: 7/8;
}

/* nav */
.navBar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-self: end;
    padding-right: 5%;
}

ul li {
    display: inline;
    text-align: center;
    width: 33.3333%;

  }

ul li .h2 {
    display: inline;
    width: 33.333%;
    text-decoration: none;
    margin: 0;
    /* font-size: 0.9em; */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color:white;
    text-shadow: 1px 1px rgb(29, 29, 172);
}

#aboutLink {
    color: #ff6f69;
}

.contactLink:hover {
    color: #ffcc5c;
}

.projectsLink:hover {
    color: #88d8b0;
}
  
  hr {
    height: .25rem;
    width: 33.3333%;
    margin: 0;
    background: #ff6f69;
    border: none;
    transition: .3s ease-in-out;
  }

  .two:hover ~ hr {
    margin-left: 33.3333%;
    background-color: #ffcc5c;
  }
  
  .three:hover ~ hr {
    margin-left: 66.6666%;
    background-color: #88d8b0;
  }
  
  
.titleName {
    font-size: 4vw;
    line-height: 1;
    z-index: 1;
    /* justify-self: center; */
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-shadow: 3px 3px rgb(29, 29, 172);
  }

.secondTitle {
  margin-top: 30%;
  /* justify-self: center; */
  text-align: right;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    text-shadow: -1px -1px rgb(242, 242, 255), 
    2px 2px 0 rgb(29, 29, 172);;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    color: #ffcc5c
}

  .whiteText {
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
  }

  
  .blob {
    fill: #ff6769;
    width: 35vmax;
    animation-name: blob;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running; 
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  } 

  /* animations */
.sectionText {
  flex-basis: 70%;
  transform: translateX(50%);
  opacity: 0;
  margin-left: 5%;
}

.sectionText.appear, .sectionImg.appear {
  transform: translateX(0);
  opacity: 1;
}

.aboutMeText, .sectionImg {
  transition: opacity 250ms ease-in,
  transform 500ms ease-in;
}

.sectionImg {
  flex-basis: 30%;
  height: 200px;
  max-width: 100%;
  transform: translateX(-50%);
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

  @keyframes blob {
    0%   { transform: scale(1)   translate(20px, -40px); }
    38%  { transform: scale(0.8, 1) translate(80%, 30%) rotate(160deg); } 
    40%  { transform: scale(0.8, 1) translate(80%, 30%) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0%, 50%) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0%, 50%) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  } 

  #line {
    grid-column: 3 / 4;
    grid-row: 2 / 8;
    background-color: #88d8b0;
    width: 2.5%;
    margin-left: 7.5%;
    margin-top: -40%;
  }

  .icon {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    width: 20%;
    z-index: 1;
    margin-top: -40%;
  }